body {
	background-image: url(../img/bossip1.png);
	background-position: center;
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'Roboto Slab', serif;
}

.btn-danger {
  background-color: red;
  border-color: red;
}

.btn-danger:hover {
  background-color: rgba(255, 0, 0, 0.61);
  border-color: rgba(255, 0, 0, 0.61);
}

.panel-default>.panel-heading {
  background-color: black;
  color: #fff;
}

.panel-default {
  border-color: black;
}

.artLink {
  color: blue;
}

.saved-buttons {
  margin-right: 1em;
}

.noteText {
  color: red;
}

.deletex {
  color: red;
}

.modal-body{
	background-image: url(../img/bossip1.png);
	background-size: cover;
	background-position: center;
}

.alert-warning {
	color: #fff;
	background-color: red;
	border-color: red;
}

.main-img {
	margin-bottom: 2em;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.savedArt {
	margin: 0 auto;
	width: 80%;
}